<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.munjie.blog.dao.ArticleMapper">
    <select id="listArticle" resultType="com.munjie.blog.pojo.ArticleDO">

         select * from article where status = '1'  order by article_create_time desc

  </select>



    <select id="listBack" resultType="com.munjie.blog.pojo.ArticleDO">

         select * from article order by article_create_time desc

  </select>


    <select id="getArticleDetailById" resultType="com.munjie.blog.pojo.ArticleDO">

         select * from article WHERE article_id = #{articleId}

  </select>

    <insert id="saveArticle" parameterType="com.munjie.blog.pojo.ArticleDO">
        INSERT INTO article (id,article_id, user_id, article_title, article_content, article_views, article_comment_count, article_publish_time,
         article_update_time,article_create_time,article_like_count,article_image,article_intro,status,article_html)
        VALUES
	    ( #{id,jdbcType=INTEGER},#{articleId,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{articleTitle,jdbcType=VARCHAR},
         #{articleContent,jdbcType=VARCHAR}, #{articleViews,jdbcType=INTEGER},#{articleCommentCount,jdbcType=INTEGER},
         #{articlePublishTime,jdbcType=TIMESTAMP}, #{articleUpdateTime,jdbcType=TIMESTAMP}, #{articleCreateTime,jdbcType=TIMESTAMP},
         #{articleLikeCount,jdbcType=INTEGER}, #{articleImage,jdbcType=VARCHAR}, #{articleIntro,jdbcType=VARCHAR},
         #{status,jdbcType=VARCHAR},#{articleHtml,jdbcType=VARCHAR}
	)
    </insert>

    <delete id="deleteArticle" parameterType="java.lang.String">
        delete from article where article_id = #{articleId}
    </delete>

    <update id="updateArticleView" parameterType="java.lang.String">
        UPDATE article SET article_views = article_views +1 WHERE article_id = #{articleId}

    </update>

    <select id="listArticleByTag" resultType="com.munjie.blog.pojo.ArticleDO">
       SELECT
	*
FROM
	article a
	LEFT JOIN tags t ON a.article_id = t.article_id
WHERE
	t.tag_name = #{tagName}
ORDER BY
	a.article_publish_time


    </select>

    <update id="updateArticleById" parameterType="com.munjie.blog.pojo.ArticleDO">
    update article
    set
    user_id = #{userId},
    article_title = #{articleTitle},
    article_content = #{articleContent},
    article_views = #{articleViews},
    article_comment_count = #{articleCommentCount},
    article_publish_time = #{articlePublishTime},
    article_update_time = #{articleUpdateTime},
    article_create_time = #{articleCreateTime},
    article_like_count = #{articleLikeCount},
    article_image = #{articleImage},
    article_intro = #{articleIntro},
    status = #{status},
    article_html=#{articleHtml}
    where id = #{id}
</update>

    <update id="updateStatusById" parameterType="java.lang.String">
    update article
    set
    status = #{status}
    where article_id = #{articleId}
</update>


</mapper>