<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.munjie.blog.dao.CommentMapper">
    <select id="listCommentsByArticleId" resultType="com.munjie.blog.pojo.CommentDO">

         select * from comment co WHERE article_id = #{articleId} ORDER BY create_time DESC

  </select>

    <insert id="addComments" parameterType="com.munjie.blog.pojo.CommentDO">

          INSERT INTO comment ( comment_id, parent_id, article_id, reply_id, user_name, email, content,
         is_author,create_time,gravatar)
        VALUES
	    ( #{commentId,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{articleId,jdbcType=VARCHAR},
         #{replyId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},
         #{content,jdbcType=VARCHAR}, #{isAuthor,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
         #{gravatar,jdbcType=VARCHAR}
	)

    </insert>


    <select id="listCommentsByParentId" resultType="com.munjie.blog.pojo.ReplyDO">

         select * from comment co WHERE parent_id = #{parentId} ORDER BY create_time DESC

  </select>

    <select id="getCommentIdByBlogId" resultType="java.lang.Integer">

          select * from comment  WHERE article_id = #{articleId} and parent_id is null or  parent_id = 0 ORDER BY create_time DESC

    </select>


    <select id="selectCommentById" resultType="com.munjie.blog.pojo.CommentDO">

         select * from comment  WHERE comment_id = #{commentId} ORDER BY create_time DESC

  </select>

</mapper>