<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.munjie.blog.dao.TagMapper">
    <select id="listTagByArticleId" resultType="java.lang.String">

         select tag_name from tags  WHERE article_id = #{articleId}

  </select>

    <select id="listTags" resultType="com.munjie.blog.pojo.TagDO">
        SELECT
	COUNT( * ) AS total,
	t.tag_name AS tagName
FROM
	article a
	LEFT JOIN tags t ON a.article_id = t.article_id
GROUP BY
	t.tag_name

    </select>


    <select id="listEditTags" resultType="com.munjie.blog.pojo.TagDO">

			SELECT DISTINCT tag_name FROM tags  ORDER BY tag_name

    </select>


    <insert id="insertForeachTags" parameterType="java.util.List" useGeneratedKeys="false">
        insert into tags
        (id,article_id,tag_name)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id},
            #{item.articleId},
            #{item.tagName}
            )
        </foreach>
    </insert>

    <insert id="addTag" parameterType="com.munjie.blog.pojo.TagDO">

        INSERT INTO tags (id,article_id, tag_name)
        VALUES
	    (#{id,jdbcType=INTEGER},#{articleId,jdbcType=VARCHAR}, #{tagName,jdbcType=VARCHAR})
    </insert>

</mapper>